.chatContainer{
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    height: max-content;
    margin-bottom: 100px;
    
}

.chatHeader{
    background-color: blueviolet;
    color: white;
    width: 800px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.chatHeaderItem{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.footerContainer{
    display: flex;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.349);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}

.footerContainer>input{
    background-color: rgba(211, 211, 211, 0);
    width: 700px;
    border: none;
    padding: 10px;
    background-color: none;
}

.footerContainer>button{
    border:none;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.planeIcon{
    color: blueviolet;
    padding: 5px;
}